<?xml version="1.0" encoding="utf-8"?>

<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UOPath></UOPath>
  <RazorPath></RazorPath>
  <SteamPath></SteamPath>
  <SallosPath></SallosPath>
  <Settings>
    <GeneralSettings>
      <GeneralSettings>
        <Name>OperationType</Name>
        <DisplayName>Operation Type</DisplayName>
        <PossibleValues>
          <string>Synchronous</string>
          <string>Asynchronous</string>
        </PossibleValues>
        <SelectedValue>Synchronous</SelectedValue>
      </GeneralSettings>
      <GeneralSettings>
        <Name>EnableSSL</Name>
        <DisplayName>Enable SSL</DisplayName>
        <PossibleValues>
          <string>True</string>
          <string>False</string>
        </PossibleValues>
        <SelectedValue>False</SelectedValue>
      </GeneralSettings>
    </GeneralSettings>
  </Settings>
</Config>